/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

#index article,
#index aside,
#index details,
#index figcaption,
#index figure,
#index footer,
#index header,
#index main,
#index menu,
#index nav,
#index section,
#index summary {
	display: block;
}

#index audio,
#index canvas,
#index progress,
#index video {
	display: inline-block;
	vertical-align: baseline;
}

#index audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
#index template {
	display: none;
}

#index a {
	background-color: transparent;
}

#index a:active,
#index a:hover {
	outline: 0;
}

#index abbr[title] {
	border-bottom: 1px dotted;
}

#index b,
#index strong {
	font-weight: bold;
}

#index dfn {
	font-style: italic;
}

#index h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

#index mark {
	background: #ff0;
	color: #000;
}

#index small {
	font-size: 80%;
}

#index sub,
#index sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

#index sup {
	top: -0.5em;
}

#index sub {
	bottom: -0.25em;
}

#index img {
	border: 0;
}

#index svg:not(:root) {
	overflow: hidden;
}

#index figure {
	margin: 1em 40px;
}

#index hr {
	box-sizing: content-box;
	height: 0;
}

#index pre {
	overflow: auto;
}

#index code,
#index kbd,
#index pre,
#index samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

#index button,
#index input,
#index optgroup,
#index select,
#index textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

#index button {
	overflow: visible;
}

#index button,
#index select {
	text-transform: none;
}

#index button,
#index html input[type="button"],
#index input[type="reset"],
#index input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

#index button[disabled],
#index html input[disabled] {
	cursor: default;
}

#index button::-moz-focus-inner,
#index input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

#index input {
	line-height: normal;
}

#index input[type="checkbox"],
#index input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

#index input[type="number"]::-webkit-inner-spin-button,
#index input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

#index input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

#index input[type="search"]::-webkit-search-cancel-button,
#index input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

#index fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

#index legend {
	border: 0;
	padding: 0;
}

#index textarea {
	overflow: auto;
}

#index optgroup {
	font-weight: bold;
}

#index table {
	border-collapse: collapse;
	border-spacing: 0;
}

#index td,
#index th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
#index button,
#index input,
#index select,
#index textarea {
	color: #3e3d3b;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

#index h1,
#index h2,
#index h3,
#index h4,
#index h5,
#index h6 {
	clear: both;
}

#index p {
	margin-bottom: 1.5em;
}

#index dfn,
#index cite,
#index em,
#index i {
	font-style: italic;
}

#index blockquote {
	margin: 0 1.5em;
}

#index address {
	margin: 0 0 1.5em;
}

#index pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

#index code,
#index kbd,
#index tt,
#index var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

#index abbr,
#index acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

#index mark,
#index ins {
	background: #fff9c0;
	text-decoration: none;
}

#index big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

#index blockquote:before,
#index blockquote:after,
#index q:before,
#index q:after {
	content: "";
}

#index blockquote,
#index q {
	quotes: "" "";
}

#index hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

#index ul,
#index ol {
	margin: 0 0 1.5em 3em;
}

#index ul {
	list-style: disc;
}

#index ol {
	list-style: decimal;
}

#index li > ul,
#index li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

#index dt {
	font-weight: bold;
}

#index dd {
	margin: 0 1.5em 1.5em;
}

#index img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

#index table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
#index button,
#index input[type="button"],
#index input[type="reset"],
#index input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

#index button:hover,
#index input[type="button"]:hover,
#index input[type="reset"]:hover,
#index input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

#index button:focus,
#index input[type="button"]:focus,
#index input[type="reset"]:focus,
#index input[type="submit"]:focus,
#index button:active,
#index input[type="button"]:active,
#index input[type="reset"]:active,
#index input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

#index input[type="text"],
#index input[type="email"],
#index input[type="url"],
#index input[type="password"],
#index input[type="search"],
#index textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#index input[type="text"]:focus,
#index input[type="email"]:focus,
#index input[type="url"]:focus,
#index input[type="password"]:focus,
#index input[type="search"]:focus,
#index textarea:focus {
	color: #111;
}

#index input[type="text"],
#index input[type="email"],
#index input[type="url"],
#index input[type="password"],
#index input[type="search"] {
	padding: 3px;
}

#index textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
#index a {
	color: royalblue;
}

#index a:visited {
	color: purple;
}

#index a:hover,
#index a:focus,
#index a:active {
	color: midnightblue;
}

#index a:focus {
	outline: thin dotted;
}

#index a:hover,
#index a:active {
	outline: 0;
}
#index div{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


/* style.css */


#index .clear{
    width: 100%;
    clear: both;
}
#index {
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}
#index #topper{
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 1;
    cursor: pointer;
    background-color: #f5412e;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 16px;
    opacity: 0.7;
    transition: padding-top 0.5s;
}
#index #topper:hover{
    padding-top: 10px;
    
}
#index .site-content{
    width: 100%;
    max-width: 1155px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
#index #header{
    width: 100%;
    position: relative;
    height: 605px;
    background: url("img/header-background.jpg") no-repeat center top;
    position: fixed;
    top: 0;
    z-index: -500;
}
#index #header .headerbg{
    width: 100%;
    position: absolute;
    z-index: -100;
}
#index #header .top{
    height: 27.3%;
    width: 100%;
    padding-top: 40px;
}
#index #header .top .header-top-right{
    float: right;
    display: inline-block;
    padding-top: 7px;
}
#index #header .top .header-top-right .top-buttons{
    float: right;
    margin-left: 60px;
}
#index #header .top .header-top-right .text{
    padding-top: 9px;
    display: inline-block;
    color: #024283;
    font-size: 14px;
    font-family: Roboto;
}
#index #header .top .header-top-right .text:first-of-type{
    font-weight: 700;
}
#index #header .top .header-top-right .text:last-of-type{
    font-weight: 400;
}
#index #header .top .header-top-right .top-buttons a{
    background-color: white;
    display: inline-block;
    border-radius: 3px;
    box-shadow: -3px 4px 3px #d3d3d3;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
    color: #024283;
    padding: 10px;
    padding-bottom: 9px;
    padding-right: 15px;
    border: 1px solid transparent;
}
#index #header .top .header-top-right .top-buttons a:hover{
    border: 1px solid #024283;
}
#index #header .top .header-top-right .top-buttons a img{
    display: block;
    float: left;
}
#index #header .top .header-top-right .top-buttons a span{
    display: block;
    float: right;
    line-height: 1;
    padding-left: 10px;
    font-size: 14px;
}
#index #header .top .header-top-right .top-buttons a:last-of-type span{
    padding-top: 2px;
}
#index #header .bottom{
    padding-top: 85px;
    width: 440px;
    float: right;
}
#index #header .bottom ul{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    clear: both;
}
#index #header .bottom ul li{
    float: left;
    font-family: Roboto;
    font-weight: 700;
    font-size: 21px;
    border-right: 1px solid #034284;
    padding-right: 16px;
    margin-left: 16px;
    line-height: 1;
    color: #034284;
}
#index #header .bottom ul li:first-of-type{
    margin-left: 0;
}
#index #header .bottom ul li:last-of-type{
    padding-right: 0;
    border-right: 0;
}
#index #header .bottom p{
    text-align: justify;
    font-size: 21px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 28px;
}
#index #header .bottom .header-buttons{
    width: 100%;
}
#index #header .bottom .header-buttons a{
    width: 48.9%;
    text-decoration: none;
    color: white;
    padding-top: 13px;
    padding-bottom: 10px;
    border-radius: 6px;
}
#index #header .bottom .header-buttons .header-buttons-img{
    width: 23%;
    float: left;
    text-align: right;
    line-height: 1;
}
#index #header .bottom .header-buttons a span{
    display: inline-block;
    padding-top: 1px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 21px;
}
#index #header .bottom .header-buttons a img{
    
}
#index #header .bottom .header-buttons a:first-of-type{
    float: left;
    background-color: #f5412e;
}
#index #header .bottom .header-buttons a:first-of-type:hover{
    background-color: #ff4a37;
    box-shadow: -3px 4px 3px #d3d3d3;
}
#index #header .bottom .header-buttons a:first-of-type span{
    padding-left: 10%;
}
#index #header .bottom .header-buttons a:last-of-type{
    float: right;
    background-color: #7d8288;
}
#index #header .bottom .header-buttons a:last-of-type:hover{
    background-color: #92979c;
    box-shadow: -3px 4px 3px #d3d3d3;
}
#index #header .bottom .header-buttons a:last-of-type span{
    padding-left: 6%;
}
#index #content{
    width: 100%;
    margin-top: 605px;
}
#index #content .row1{
    width: 100%;
    height: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: white;
}
#index #content .row1 .flex{
    width: 25%;
    float: left;
    cursor: pointer;
}
#index #content .row1 .flex .fleximage{
    text-align: center;
    line-height: 0;
    width: 61%;
    margin: 0 auto;
    border: 1px solid #024283;
    margin-bottom: 70px;
    border-radius: 50%;
}
#index #content .row1 .flex .fleximage img{
    max-width: 100%;
}
#index #content .row1 .flex .fleximage .row1hover{
    display: none;
}
#index #content .row1 .flex:hover .fleximage .row1normal{
    display: none;
}
#index #content .row1 .flex:hover .fleximage{
    border-color: #f5412e;
}
#index #content .row1 .flex:hover .fleximage .row1hover{
    display: inline;
}
#index #content .row1 .flex .flextext{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 22px;
}
#index #content .row1 .flex .flextext span{
    width: 100%;
    display: inline-block;
    font-weight: 700;
}
#index #content .bluebox{
    height: 475px;
    width: 100%;
    background-color: #024283;
}
#index #content .bluebox .bluebox-left{
    width: 46.3%;
    float: left;
}
#index #content .bluebox .bluebox-right{
    width: 53.7%;
    float: right;
}
#index #content .row2{
    position: relative;
}
#index #content .row2 .bluebox-left img{
    display: block;
    position: absolute;
    bottom: 0;
}
#index #content .bluebox .bluebox-right .bluebox-right-top{
    margin-top: 85px;
    display: table;
}
#index #content .bluebox .bluebox-right .bluebox-right-top img{
    display: inline-block;
    float: left;
    margin-right: 45px;
}
#index #content .bluebox .bluebox-right .bluebox-right-top span{
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 60px;
    font-family: Roboto;
    font-weight: 100;
    line-height: 1;
}
#index #content .bluebox .bluebox-right .bluebox-right-bottom{
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    margin-top: 50px;
    color: white;
    padding-right: 60px;
    line-height: 22px;
}
#index #content .whitebox{
    height: 475px;
    width: 100%;
    background-color: white;
}
#index #content .whitebox .whitebox-left{
    width: 54.6%;
    float: left;
}
#index #content .whitebox .whitebox-left .whitebox-left-top{
    margin-top: 85px;
    display: table;
}
#index #content .whitebox .whitebox-left .whitebox-left-top img{
    display: inline-block;
    float: left;
    margin-right: 45px;
}
#index #content .whitebox .whitebox-left .whitebox-left-top span{
    display: table-cell;
    vertical-align: middle;
    font-size: 60px;
    font-family: Roboto;
    font-weight: 100;
    line-height: 1;
}
#index #content .whitebox .whitebox-left .whitebox-left-bottom{
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    margin-top: 50px;
    line-height: 22px;
}
#index #content .row5 .whitebox-left .whitebox-left-bottom{
    padding-right: 50px;
}
#index #content .whitebox .whitebox-right{
    width: 45.4%;
    float: right;
    padding-top: 41px;
    text-align: right;
}
#index #content .row5 .whitebox-right{
    padding-top: 85px;
}
#index #content .row4 .bluebox-left{
    padding-top: 57px;
}
#index #footer{
    background-color: #3a3a3a;
}
#index #footer .footer-top{
    padding-top: 55px;
    padding-bottom: 55px;
    color: #a6a6a6;
}

#index #footer .footer-top .footer1{
    width: 34.4%;
    float: left;
    padding-left: 35px;
}
#index #footer .footer-top .footer1 .opinion{
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 40px;
}
#index #footer .footer-top .footer1 .opinionauthor{
    font-family: 14px;
    font-family: Roboto;
    font-weight: 900;
    color: #52d7ee;
    display: inline-block;
    margin-left: 25px;
}
#index #footer .footer-top .footer2{
    width: 34.6%;
    float: left;
}
#index #footer .footer-top .footer2 h3{
    display: inline-block;
    text-decoration: none;
    color: #a6a6a6;
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #4c4c4c;
    cursor: pointer;
    margin: 0;
}
#index #footer .footer-top .footer2 h3:hover{
    color: white;
}
#index #footer .footer-top .footer2 h3:first-of-type{
    padding-top: 0px;
    border-top: 0;
}
#index #footer .footer-top .footer2 a span{
    display: inline-block;
    width: 85%;
}
#index #footer .footer-top .footer2 a img{
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-right: 15px;
}
#index #footer .footer-top .footer2 div p{
    color: #a6a6a6;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
}
#index #footer .footer-top .footer3{
    width: 31%;
    float: left;
    padding-left: 61px;
}
#index #footer .footer-top .footer3 span{
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    width: 100%;
}
#index #footer .footer-top .footer3 .span1{
    padding-bottom: 20px;
}
#index #footer .footer-top .footer3 .socials{
    margin-top: 50px;
}
#index #footer .footer-top .footer3 .socials span{
    display: inline-block;
    width: auto;
    float: left;
    margin-right: 20px;
    padding-top: 3px;
    font-family: Roboto;
    font-weight: 900;
    color: white;
}
#index #footer .footer-top .footer3 .socials a{
    text-decoration: none;
}
#index #footer .footer-top .footer3 .socials a img{
    margin-right: 5px;
}
#index #footer .footer-top .footer-title{
    margin-bottom: 50px;
    font-family: Roboto;
    font-weight: 900;
    color: white;
}
#index #footer .footer-bottom{
    border-top: 1px solid #4c4c4c;
    color: #5f5f5f;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: Roboto;
    font-weight: 300;
}
#index .whitecircleout{
    width: 128px;
    height: 128px;
    margin-right: 45px;
    text-align: center;
    line-height: 128px;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 100%;
    position: relative;
}
#index .whitecircleout .whitemouse{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#index .bluecircleout .whitemouse{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#index .whitecircle{
    width: 128px;
    height: 128px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    line-height: normal;
    
}
#index .whitecircle img{
    width: 100%;
}
#index .bluecircleout{
    width: 128px;
    height: 128px;
    margin-right: 45px;
    text-align: center;
    line-height: 128px;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 100%;
    position: relative;
}
#index .bluecircle{
    width: 128px;
    height: 128px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    line-height: normal;
    
}
#index .bluecircle img{
    width: 100%;
}
#index .socials a .socialrwd{
    display: none;
}
#index .socials a:hover .socialnormal{
    display: none;
}
#index .socials a:hover .socialrwd{
    display: inline;
}